.usersInfo{
    margin-top: 5rem;
    background-color: rgba(241, 241, 241, 0.834);
    padding: 1rem;
    border-radius: 5px;
}

.tableBorder{
    border: 1px solid #ddd;
}

.cursorPointer{
    cursor: pointer;
}

.paginationRows{
    cursor: pointer;
}